*{
    font-family:Cambria;
}
header,footer{
    background:#829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
main{
    display: flex;
}
#left,#right{
    background: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top:100px;
}
img{
    width: 100%;
    border-radius: 20px;
}
#middle{
    background: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}
table{
    border: 1px solid dimgray;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid dimgray;
    border-collapse: collapse;
}
th:hover,td:hover{
    background: steelblue;
    color: white;
}

